@charset "UTF-8";

/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Roboto:wght@100;300&family=Sriracha&display=swap');

/*Variáveis*/
:root{
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: 'Roboto', sans-serif;
    --fonte3: 'Sriracha', cursive;
}

/*Reset*/
*{
    margin: 0;
    padding: 0;
}

/*Corpo da página*/
html, body{
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgrey;
}

/*Cabeçalho*/
header{
    background-color: black;
    color: white;
    text-align: center;
}

/*Título do cabeçalho*/
header > h1{
    padding-top: 50px;
    font-family: var(--font2);
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 3em;
}

/*Parágrafo do cabeçalho*/
header > p{
    padding-bottom: 50px;
}

/*Link*/
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

/*Seção global*/
section{
    padding: 10vh 30px 10vh;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 2em;
}

section > p{
    padding-bottom: 2em;
}

/*Secções normais*/
section.normal{
    background-color: white;
    color: black;
}

/*Seções com imagens de fundo*/
section.imagem{
    background-color: rgba(27, 27, 27, 0.911);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.521);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.637);
}

#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

#img02{
    background-image: url('../imagens/background002.jpg');
}

/*Rodapé*/
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}